﻿﻿<div class="d-flex align-items-center">
    <h1>La liste des Followers</h1>
    <a class="nav-link text-dark rounded-circle " asp-area="" asp-controller="Follow" asp-action="Add">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#f0ad4e" class="bi bi-plus-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
        </svg>
    </a>
</div>
<br />
<p class="text-danger">@ViewData["message"]</p>
<br />
<div class="container">
    <form asp-action="List" asp-controller="Follow" method="post" class="row col-12">
        <select name="followList" class="col-5">
            <option selected value="all">Liste de tous les followers</option>
            <option value="bestfollower">Liste des followers présent sur plus de 70% des streams</option>
        </select>
        <button type="submit" class="btn bg-warning col-1" style="margin-left: 10px;">Afficher</button>
    </form>
    <br />
</div>


@if (Model != null)
{
    @if (Model.Count > 0)
    {
        <br />
        <table class="table table-striped table-hover">
            <tr>
                <th class="text-center">N°</th>
                <th class="text-center">Surnom</th>
                <th class="text-center">Image du Profil</th>
                <th class="text-center">Connecté ou non</th>
                <th class="text-center">Nombre de connection total</th>
            </tr>
            @foreach (var follow in this.Model)
            {
                <tr>
                    <td class="text-center">@(follow.Id)</td>
                    <td class="text-center">@(follow.Surnom)</td>
                    <td class="text-center">@(follow.ImageProfil)</td>
                    @if (follow.Connection == true)
                    {
                        <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="Connecté">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#008946" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z" />
                            </svg>
                        </td>
                    }
                    else
                    {
                        <td class="text-center" data-toggle="tooltip" data-placement="bottom" title="Déconnecté">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#e90007" class="bi bi-record-fill" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10z" />
                            </svg>
                        </td>
                    }

                    <td class="text-center">@(follow.PresenceTotal)</td>
                </tr>
            }
        </table>
    }

}
else
{
    <i>Veuillez choisir l'une des deux options ci-dessus</i>
}
